<%- include('partials/header'); -%>

    <br>
    <br>
    <br>
    <br>
    <br>
    <link rel="stylesheet" href="/style_question.css">
    <div class="bg-modal1">
        <div class="modal-content" style="height: 250px;">
            <div class="close1" id="close1">
                <a href="/"> + </a>
            </div>
            <form action="/addtopic" method="POST">
                <h3>ADD TOPIC</h3><br>
                <div>
                    <label for="topic">Name</label>
                    <input type="text" name="topic" required>
                </div>
                <br>
                <div>
                    <button type='submit' class=" btn btn-default btn-primary fa">
                        <i class="fa fa-paper-plane"></i> Add </button>
                </div>
            </form>
        </div>
    </div>
<%- include('partials/footer'); -%> 